*{
    margin: 0%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
}
h1{
    margin-top: 200px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    color: rgb(50, 91, 91);
}
#countDisplay {
    width: 300px;          
    height: 50px;          
    line-height: 50px;    
    margin: 30px auto 50px;
    text-align: center;
    background-color: rgb(242, 242, 242);
    border: 1px solid black;
    font-size: 24px;
}
#incrementBtn{
    padding: 10px 20px;
    margin-top: 50px;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
    color: rgb(50, 91, 91);
}
#incrementBtn:hover{
    background-color:rgb(50, 91, 91) ;
    color: white;
}
#decrementBtn{
    padding: 10px 20px;
    margin-top: 50px;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
    color: rgb(50, 91, 91);
}
#decrementBtn:hover{
    background-color:rgb(50, 91, 91) ;
    color: white;
}
#resetBtn{
    margin-bottom: 20px;
    padding: 10px 20px;
    margin-top: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    margin: 5px;
    cursor: pointer;
    color: rgb(50, 91, 91);
}
#resetBtn:hover{
    background-color:rgb(50, 91, 91) ;
    color: white;
}
.button{
    align-items: center;
    display: flex;
    justify-content: center;
}
